/*  Bootstrap Overrides  */
:root{    --bs-body-color: #fff;}
.cta .cta-inner:before { border:none;}
.navbar-brand {font-size: 2.5vw}
.site-heading {
    margin-top: 0;
    margin-bottom: 0;
    padding-top:2rem;
    padding-bottom:2rem;
    background-color:rgba(0,0,0, .5);
}

.page-section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.dropdown-menu[data-bs-popper] {
    top: auto;
}

#mainNav .navbar-nav .nav-item {
    padding-left: 1rem;
    padding-right: 1rem;
}

.table {
    color: var(--bs-body-color);
}


/* Tailwind Overrides */
.collapse {visibility:visible;}
.min-h-screen {
    min-height: 100%;
    padding-bottom: 1rem;
}

/* BODY */
body, html {
    height: 100%;
}


/* Site Headers */
.site-heading-upper {
    font-size: 2.5vw;
}

.site-heading-lower {
    font-size: 4.5vw;
}

.member-button button{
    background-color: var(--bs-success)
}

.member-button button:hover{
    background-color: var(--bs-teal)
}




.navbar-collapse .collapse-show .member-button {
    display:block;
}

.navbar-collapse .collapse .member-button {
    display:none;
}

/* Sub Pages */
.sub-page-title {
    background: var(--bs-primary);
}

#cbca-calendar {
    display:block;
    margin: 0 auto;
}

#contact-us-wrapper {
    width: 65vw;
    float:right;
    padding: 2rem;
    background: radial-gradient(var(--bs-gray-700) 60%, transparent 100%);
    color: white;
}

form .error {
    color:red;
    font-size: .75rem;
}

.container {
    padding:2rem;
}

.container.small {
    padding:.2rem;
}

.bkg-overlay {
    background-color: rgba(0,0,0,.5);
}

.text-dark {
    font-color: var(--bs-dark);
}

.admin-nav {
    background-color: var(--bs-dark);
    color: var(--bs-body-color);
}

.admin-nav ul {
    list-style: none;
}

.admin-nav .nav-link {
    font-size: .75rem;
}

.admin-nav .nav-link .indented{
    padding-left: 2rem;
}

.admin_table {
    background: #FFFFFF;
    color: #000000;
}

.admin_table td {
    padding:1rem;
}


.title {
    font-size: 1.3rem;
    font-weight: bold;
    padding: 4px;
    display:block
}
.price {
    font-size: 1rem;
    padding: 4px;
    display:block

}
.description {
    font-size: 1rem;
    padding: 4px;
    display:block

}

iframe.designer{
    height: 80vh;
}
/*@media (min-width:990px) {*/
    /*.member-button {*/
        /*position: absolute;*/
        /*top: 1rem;*/
        /*right: 1rem;*/
    /*}*/
/*}*/